form(method='POST' action='/login')
    div.container
      label Username
      input(type='text', placeholder='Enter username', name='username')
      label Password
      input(type='password', placeholder='Enter password', name='password')
      button(type='submit') 
